<% opacity = question.hidden ? 'opacity50' : '' %>
<div class="<%= opacity %>">
  <div class="question-header text-sm mb-sm">
    <div class="text-grey">
      <p>Вопрос <%= link_to "##{question.id}", question_path(question) %>
        для <%= user_link(question.user) %> от <%= user_link(question.author)%>
      </p>
    </div>
  </div>
  <div class="mb-sm">
    <%= simple_format(h(question.body)) %>
  </div>

  <% if question.answer.present? %>
  <div class="question-header text-sm mb-sm">
    <div class="text-grey">
      <p>Ответ</p>
    </div>
  </div>
    <div class="mb-sm text-blue">
      <%= simple_format(h(question.answer)) %>
    </div>
  <% end %>

  <% if question.hashtags.present? %> 
    <div class="mb-sm text-light">
      Найденные хештеги в вопросе: <%= links_for_hashtags(question.hashtags) %>
    </div>
  <% end %>
  <div class="text-sm question-footer">
    <div class="text-grey">
      <%= l(question.created_at, format: :short) %>
    </div>
    <% if current_user == question.user %>
      <div>
        <% edit_icon = (question.answer.present? ? 'pencil' : 'reply') %>
        <%= button_to fa_icon(hide_button(question)[:fa_icon_class]),
                      hide_question_path(question),
                      method: :patch, title: hide_button(question)[:title], class: 'mr-sm' %>
        <%= link_to fa_icon(edit_icon), edit_question_path(question),
        title: 'Изменить вопрос', class: 'mr-sm' %>
        <%= button_to fa_icon('trash-o'), question_path(question),
        method: :delete, title: 'Удалить вопрос' %>
      </div>
    <% end %>
  </div>
</div>
